In [36]:
import pandas as pd

In [37]:
df = pd.read_csv("data/tracks_edited.csv")

In [38]:
df_morethantwo = df[df["artists"].str.contains(",")]

In [39]:
df_twoartist = df[df["artists"].str.count(",") == 1]

In [40]:
df_twoartist = df_twoartist.reset_index()
df_twoartist = df_twoartist.iloc[:, 2:]
df_twoartist
df_twoartist.to_csv("tracks_twoartists.csv")

,name,artists,energy
0,Disillusion - Blue States Mix,"['Badly Drawn Boy', 'Blue States']",0.7620
1,Disillusion - Black Lodge Mix,"['Badly Drawn Boy', 'Black Lodge']",0.9050
2,Don't You Think?,"['Natalie Imbruglia', 'Mark Plati']",0.8760
3,"Piano Sonata No. 2 in B-Flat Minor, Op. 35 ""Fu...","['Frédéric Chopin', 'Vladimir Horowitz']",0.1680
4,"Piano Sonata No. 2 in B-Flat Minor, Op. 35 ""Fu...","['Frédéric Chopin', 'Vladimir Horowitz']",0.0381
...,...,...,...
147566,LA NOCHE DE ANOCHE,"['Bad Bunny', 'ROSALÍA']",0.6180
147567,DÁKITI,"['Bad Bunny', 'Jhay Cortez']",0.5730
147568,SORRY PAPI,"['Bad Bunny', 'ABRA']",0.5610
147569,Hitman,"['Kelly Rowland', 'NFL']",0.8770
147570,Cold - DeeTown Remix featuring Miss Eighty 6,"['Crossfade', 'Ali \x93Dee\x94 Theodore for De...",0.8290