In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("../data/tracks_edited.csv")
df

,Unnamed: 0,name,artists,energy
0,0,Testify,['Rage Against The Machine'],0.978
1,1,Guerrilla Radio,['Rage Against The Machine'],0.957
2,2,Calm Like a Bomb,['Rage Against The Machine'],0.970
3,3,Mic Check,['Rage Against The Machine'],0.967
4,4,Sleep Now In the Fire,['Rage Against The Machine'],0.929
...,...,...,...,...
1204020,1204020,Gospel of Juke,['FVLCRVM'],0.966
1204021,1204021,Prism Visions,['FVLCRVM'],0.701
1204022,1204022,Tokyo 360,['FVLCRVM'],0.796
1204023,1204023,Yummy!,['FVLCRVM'],0.856
1204024,1204024,That's The Way It Is,['FVLCRVM'],0.708

In [9]:
df_morethantwo = df[df["artists"].str.contains(",")]

In [10]:
df_twoartist = df_morethantwo[df_morethantwo["artists"].str.count(",") == 1]

In [11]:
df_twoartist = df_twoartist.reset_index()
df_twoartist = df_twoartist.iloc[:, 2:]
df_twoartist

,name,artists,energy
0,Disillusion - Blue States Mix,"['Badly Drawn Boy', 'Blue States']",0.7620
1,Disillusion - Black Lodge Mix,"['Badly Drawn Boy', 'Black Lodge']",0.9050
2,Don't You Think?,"['Natalie Imbruglia', 'Mark Plati']",0.8760
3,"Piano Sonata No. 2 in B-Flat Minor, Op. 35 ""Fu...","['Frédéric Chopin', 'Vladimir Horowitz']",0.1680
4,"Piano Sonata No. 2 in B-Flat Minor, Op. 35 ""Fu...","['Frédéric Chopin', 'Vladimir Horowitz']",0.0381
...,...,...,...
147566,LA NOCHE DE ANOCHE,"['Bad Bunny', 'ROSALÍA']",0.6180
147567,DÁKITI,"['Bad Bunny', 'Jhay Cortez']",0.5730
147568,SORRY PAPI,"['Bad Bunny', 'ABRA']",0.5610
147569,Hitman,"['Kelly Rowland', 'NFL']",0.8770
147570,Cold - DeeTown Remix featuring Miss Eighty 6,"['Crossfade', 'Ali \x93Dee\x94 Theodore for De...",0.8290

In [12]:
df_twoartist["name"] = df_twoartist["name"].str.replace("\"", "*")
df_twoartist["artists"] = df_twoartist["artists"].str.replace("\"", "'")

In [13]:
import csv
df_twoartist.to_csv("tracks_twoartists.csv", quoting=csv.QUOTE_NONNUMERIC, header=False, index = False)