In [106]:
import pandas as pd

In [107]:
df = pd.read_csv("../data/tracks_features.csv")
df = df[(df.year >= 2010)]
df = df[df.explicit == False]
df = df[["name", "artists", "energy", "year"]]
df

Empty DataFrame
Columns: [name, artists, energy, year]
Index: []

In [108]:
df_morethantwo = df[df["artists"].str.contains(",")]

In [109]:
df_twoartist = df_morethantwo[df_morethantwo["artists"].str.count(",") == 1]

In [110]:
df_twoartist = df_twoartist.reset_index()
df_twoartist = df_twoartist.iloc[:, 1:4]
df_twoartist

Empty DataFrame
Columns: [name, artists, energy]
Index: []

In [111]:
df_twoartist["name"] = df_twoartist["name"].str.replace("\"", "*")
df_twoartist["name"] = df_twoartist["name"].str.replace("”", "*")
df_twoartist["name"] = df_twoartist["name"].str.replace(",", "")
df_twoartist["artists"] = df_twoartist["artists"].str.replace("”", "*")
df_twoartist["artists"] = df_twoartist["artists"].str.replace("\"", "'")
for index,row in df_twoartist.iterrows():
    idx = row["artists"].find(",") - 1
    if (row["artists"][idx] != "'"):
        row["artists"] = row["artists"].replace(",", "")
        df_twoartist.loc[index, "artists"] = row["artists"]

In [112]:

df_twoartist[df_twoartist["artists"].str.contains("Hank")]
len(df_twoartist)

0

In [113]:
import csv
df_twoartist.to_csv("tracks_twoartists.csv", quoting=csv.QUOTE_NONNUMERIC, header=False, index = False)