In [45]:
import pandas as pd

In [46]:
df = pd.read_csv("../data/tracks_edited.csv")
df

,Unnamed: 0,name,artists,energy
0,0,Testify,['Rage Against The Machine'],0.978
1,1,Guerrilla Radio,['Rage Against The Machine'],0.957
2,2,Calm Like a Bomb,['Rage Against The Machine'],0.970
3,3,Mic Check,['Rage Against The Machine'],0.967
4,4,Sleep Now In the Fire,['Rage Against The Machine'],0.929
...,...,...,...,...
1204019,1204020,Gospel of Juke,['FVLCRVM'],0.966
1204020,1204021,Prism Visions,['FVLCRVM'],0.701
1204021,1204022,Tokyo 360,['FVLCRVM'],0.796
1204022,1204023,Yummy!,['FVLCRVM'],0.856
1204023,1204024,That's The Way It Is,['FVLCRVM'],0.708

In [47]:
df_morethantwo = df[df["artists"].str.contains(",")].reset_index()
df_twoartist = df_morethantwo

In [48]:
# df_twoartist = df_morethantwo[df_morethantwo["artists"].str.count(",") == 1]

In [49]:
df_twoartist = df_twoartist.reset_index()
df_twoartist = df_twoartist.iloc[:, 2:]
df_twoartist

,Unnamed: 0,name,artists,energy
0,236,Get It While It's Hot - AB Experience/Flyte Ty...,"['Nodesha', 'Bobby Ross Avila', 'IZ']",0.765
1,243,Miss Perfect (feat. Nodesha),"['ABS', 'Nodesha', 'Tom Elmhirst']",0.781
2,299,Highwayman,"['The Highwaymen', 'Willie Nelson', 'Johnny Ca...",0.351
3,300,The Last Cowboy Song,"['The Highwaymen', 'Willie Nelson', 'Johnny Ca...",0.176
4,301,"Jim, I Wore a Tie Today","['The Highwaymen', 'Willie Nelson', 'Johnny Ca...",0.223
...,...,...,...,...
285747,1203974,DÁKITI,"['Bad Bunny', 'Jhay Cortez']",0.573
285748,1203976,SORRY PAPI,"['Bad Bunny', 'ABRA']",0.561
285749,1203982,Hitman,"['Kelly Rowland', 'NFL']",0.877
285750,1203984,Levitating (feat. DaBaby) - KUU Remix,"['Dua Lipa', 'KUU', 'DaBaby']",0.890
285751,1204018,Cold - DeeTown Remix featuring Miss Eighty 6,"['Crossfade', 'Ali \x93Dee\x94 Theodore for De...",0.829

In [50]:
#replace wierd chars in artist name

df_twoartist["name"] = df_twoartist["name"].str.replace("\"", "")
df_twoartist["name"] = df_twoartist["name"].str.replace("”", "")
df_twoartist["name"] = df_twoartist["name"].str.replace(",", "")
df_twoartist["artists"] = df_twoartist["artists"].str.replace("”", "")
df_twoartist["artists"] = df_twoartist["artists"].str.replace("\"", "")

#if char before comma seprating artists doenst equal ' then remove that comma with nothing for nothing. Cases when artist has comma in the name
for index,row in df_twoartist.iterrows():
    idx = row["artists"].find(",") - 1
    if (row["artists"][idx] != "'"):
        row["artists"] = row["artists"].replace(",", "")
        df_twoartist.loc[index, "artists"] = row["artists"]

In [51]:
df_twoartist

,Unnamed: 0,name,artists,energy
0,236,Get It While It's Hot - AB Experience/Flyte Ty...,"['Nodesha', 'Bobby Ross Avila', 'IZ']",0.765
1,243,Miss Perfect (feat. Nodesha),"['ABS', 'Nodesha', 'Tom Elmhirst']",0.781
2,299,Highwayman,"['The Highwaymen', 'Willie Nelson', 'Johnny Ca...",0.351
3,300,The Last Cowboy Song,"['The Highwaymen', 'Willie Nelson', 'Johnny Ca...",0.176
4,301,Jim I Wore a Tie Today,"['The Highwaymen', 'Willie Nelson', 'Johnny Ca...",0.223
...,...,...,...,...
285747,1203974,DÁKITI,"['Bad Bunny', 'Jhay Cortez']",0.573
285748,1203976,SORRY PAPI,"['Bad Bunny', 'ABRA']",0.561
285749,1203982,Hitman,"['Kelly Rowland', 'NFL']",0.877
285750,1203984,Levitating (feat. DaBaby) - KUU Remix,"['Dua Lipa', 'KUU', 'DaBaby']",0.890
285751,1204018,Cold - DeeTown Remix featuring Miss Eighty 6,"['Crossfade', 'Ali \x93Dee\x94 Theodore for De...",0.829

In [52]:
df_twoartist = df_twoartist.drop_duplicates(subset="artists")

In [53]:
df_twoartist= df_twoartist[df_twoartist["artists"].str.contains("Various Artists")==False]
df_twoartist = df_twoartist[["name", "artists", "energy"]]
df_twoartist

,name,artists,energy
0,Get It While It's Hot - AB Experience/Flyte Ty...,"['Nodesha', 'Bobby Ross Avila', 'IZ']",0.765
1,Miss Perfect (feat. Nodesha),"['ABS', 'Nodesha', 'Tom Elmhirst']",0.781
2,Highwayman,"['The Highwaymen', 'Willie Nelson', 'Johnny Ca...",0.351
12,Disillusion - Blue States Mix,"['Badly Drawn Boy', 'Blue States']",0.762
13,Disillusion - Black Lodge Mix,"['Badly Drawn Boy', 'Black Lodge']",0.905
...,...,...,...
285745,Winter Time,"['Sabrina Claudio', 'Alicia Keys']",0.298
285746,LA NOCHE DE ANOCHE,"['Bad Bunny', 'ROSALÍA']",0.618
285748,SORRY PAPI,"['Bad Bunny', 'ABRA']",0.561
285749,Hitman,"['Kelly Rowland', 'NFL']",0.877
285751,Cold - DeeTown Remix featuring Miss Eighty 6,"['Crossfade', 'Ali \x93Dee\x94 Theodore for De...",0.829

In [54]:
import csv
df_twoartist.to_csv("tracks_twoartists.txt", quoting=csv.QUOTE_NONNUMERIC, header=False, index = False)